---
import AgendaLayout from "../layouts/AgendaLayout.astro";

const { src = "/general-bg.webp" } = Astro.props;
---

<AgendaLayout title="Agenda">
  <section class="flex h-full w-full">
    <div class="container">
    </div>
  </section>
</AgendaLayout>

<style lang="scss" >
    header {

    }
</style>
