---
import DefaultLayout from "../layouts/DefaultLayout.astro";
const { src = "/general-bg.webp" } = Astro.props;
---

<DefaultLayout title="Home">
  <div class="flex h-full w-full">
    <section class="relative">
      <!--<div class="container">
        <div class="flex w-full flex-col flex-wrap items-center justify-center text-white">
        </div>
      </div>-->
    </section>
  </div>
</DefaultLayout>

<style lang="scss">

</style>
