---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { inject } from "@vercel/analytics";
const { src = "/general-bg.webp" } = Astro.props;
const { manImage = "/man.webp" } = Astro.props;
const { mobileTitleImage = "/mobile-title.webp" } = Astro.props;

inject();
---

<DefaultLayout title="Home">
  <section
    class="relative bottom-0 flex w-full items-center justify-center sm:items-end sm:h-full"
  >
    <div class="container hidden sm:flex">
      <div
        class="flex w-full flex-col flex-wrap items-center justify-center text-white"
      >
        <a target="_blank" href="https://form.jotform.com/230920323318851"
          ><button
            type="button"
            class="rounded-md px-3.5 py-2.5 text-sm font-bold text-white shadow-sm hover:smg-green-900 sm:text-lg"
          >
            REGISTER
          </button></a
        >
        <div class="invisible">
          <p class="pb-3 pt-10 text-xl">
            Marina Bay Sands Expo & Convention Centre
          </p>
          <p class="text-2xl font-bold">R.S.V.P</p>
          <a class="pb-0 !text-white" href="https://www.ptd2023.com"
            >atd2023.com</a
          >
        </div>
      </div>
    </div>
    <div class="container block !p-0 sm:hidden">
      <div class="block h-[86vh] flex-wrap">
        <img
          class="mt-[0px] object-cover"
          src={mobileTitleImage}
          alt="General Background"
        />
        <div class="background-text mb-8 w-full text-center text-lg">
          12th - 13th July 2023 | 2PM - 5PM
        </div>
        <div
          class="background-text flex w-full flex-col flex-wrap items-center justify-center text-center text-lg"
        >
          MARINA BAY SANDS <br />
          EXPO & CONVENTION CENTRE
        </div>
        <img
          class="absolute bottom-0 h-[500px] object-cover"
          src={manImage}
          alt="General Background"
        />
      </div>
      <div class="white-box absolute bottom-0 flex w-full text-black">
        <h2 class="w-full text-center text-2xl uppercase">
          <span class="font-light">Redefining</span> proptech
        </h2>
      </div>
    </div>
  </section>
  <section
    class="second-background relative bottom-0 block flex min-h-[100vh] w-full flex-col flex-wrap items-center justify-center text-center sm:hidden"
  >
    <ul class="flex flex-col flex-wrap items-center justify-around gap-8">
      <li>
        <h3 class="mb-3 text-lg font-light uppercase">
          <span class="font-bold">No-Code Computing</span>
        </h3>
        <ul>
          <li>Blockly Code Assembler</li>
        </ul>
      </li>

      <li>
        <h3 class="mb-3 text-lg font-light uppercase">
          <span class="font-bold">Artificial Intelligence</span>
        </h3>
        <ul>
          <li class="mb-3">Insights™ by Simplicity®: <br/>Business Intelligence Chatbot</li>
          <li>Co-Pilot™ by Simplicity®: <br/>Virtual Assistant Chatbot</li>
        </ul>
      </li>

      <li>
        <h3 class="mb-3 text-lg font-light uppercase">
          <span class="font-bold">Immersive 3D User Experience <br/> & IoT</span>
        </h3>
        <ul>
          <li class="mb-3">
              Photogrammetric Immersive <br/> Surveillance
          </li>
          <li>Bluetooth Low Energy (BLE) <br/> Real-time Asset Locating</li>
        </ul>
      </li>

      <li>
        <h3 class="mb-3 text-lg font-light uppercase">
          <span class="font-bold">x demonstration exhibits</span>
        </h3>
      </li>
    </ul>
  </section>
</DefaultLayout>

<style lang="scss">
  .background-text {
    color: var(--primary-200);
  }

  .white-box {
    background-color: var(--primary-200);
  }

  .second-background {
    background-image: url("/mobile-bg-2.webp");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: var(--primary-200);
  }
</style>
