---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import Feature from "../components/Feature.astro";
import Counter from "../components/Counter.astro";
import ContentMedia from "../components/ContentMedia.astro";

const { src = "/general-bg.webp" } = Astro.props;
---

<DefaultLayout title="Home">
  <!--<Hero /> -->
  <section class="bottom-0 flex h-full w-full items-end justify-center">
    <div class="container">
      <div
        class="flex w-full flex-col flex-wrap items-center justify-center text-white"
      >
        <a class target="_blank" href="https://form.jotform.com/230920323318851"
          ><button
            type="button"
            class="rounded-md px-3.5 py-2.5 text-lg font-bold text-white shadow-sm hover:bg-green-900"
          >
            REGISTER
          </button></a
        >
        <div class="invisible">
          <p class="pb-3 pt-5 text-xl">
            Marina Bay Sands Expo & Convention Centre
          </p>
          <p class="text-2xl font-bold">R.S.V.P</p>
          <a class="pb-0 !text-white" href="https://www.ptd2023.com"
            >ptd2023.com</a>
        </div>
      </div>
    </div>
  </section>
  <!--<ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>-->
  <!--<ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>-->
  <!--<section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>-->
</DefaultLayout>
